name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    # Run for non-draft PRs or pushes
    if: github.event.pull_request.draft == true || github.event_name == 'push'
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: HyDrive.Api  # All dotnet commands run from here

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build & Test
        # Build and test in a single step to avoid building twice
        run: dotnet test HyDrive.Api.sln --verbosity normal
